@{
    ViewBag.Title = "Universal Tunes";
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app" ng-controller="IndexController as IndexCtrl" ng-init="IndexCtrl.initHome(@ViewBag.Authenticated,'@ViewBag.UserName')">
<head>
    <meta name="viewport" content="initial-scale=1">
    <base href="~/">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/app")
    <link href="~/Content/expats.min.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar navbar-default navbar-static-top " role="navigation" ng-show="IndexCtrl.applicationReady">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="IndexCtrl.navbarProperties.isCollapsed = !IndexCtrl.navbarProperties.isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="IndexCtrl.goHome()">Universal Tunes</a>
            </div>

            <div class="navbar-collapse collapse " collapse="IndexCtrl.navbarProperties.isCollapsed">
                <ul class="nav navbar-nav leftNavOverride" ng-show="IndexCtrl.currentUser.loggedIn">
                    <li class="dropdown" dropdown>
                        <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" href="#">
                            <span>Menu</span><b class="caret"></b>
                        </a>
                        <ul class="nav navbar-nav navbar-left" ng-show="IndexCtrl.currentUser.loggedIn"></ul>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-show="IndexCtrl.currentUser.loggedIn">
                                <a href="/#/artists">Artists</a>    
                            </li>
                            <li ng-show="IndexCtrl.currentUser.loggedIn">
                                <a href="/#/albums">Albums</a>
                            </li>
                            <li ng-show="IndexCtrl.currentUser.loggedIn">
                                <a href="/#/songs">Songs</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" dropdown="">
                        <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                            <span>Configurations</span><b class="caret"></b>
                        </a>
                        <ul class="nav navbar-nav navbar-left" ng-show="IndexCtrl.currentUser.loggedIn"></ul>
                        <ul class="dropdown-menu" role="menu">

                            <li ng-show="IndexCtrl.isAllowed('Admin')">
                                <a href="/#/userMaintenance">User Maintenance</a>
                            </li>
                            <li ng-show="IndexCtrl.isAllowed('Admin')">
                                <a href="/#/roleMaintenance">Role Maintenance</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="!IndexCtrl.currentUser.loggedIn">
                    <li><a href="/#/login">Login</a></li>
                    <li><a href="/#/register">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="IndexCtrl.currentUser.loggedIn">
                    <li><a href="/#/myProfile">Welcome {{IndexCtrl.currentUser.displayName}}</a></li>
                    <li><a href="#" ng-click="IndexCtrl.logout()">Logout</a></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <toaster-container toaster-options="{'time-out':7000}"></toaster-container>
    </div>

    <div class="container mainContent">
        <div ng-view>

        </div>
    </div>

    <div id="footer" class="center-block">
        <div class="container mainContent">

        </div>
    </div>
</body>
</html>